<div class="card">
    <div class="card-body">
      <form [formGroup]="selectionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="col-md-4">Sport</label>
          <select formControlName="sport" id="sport" 
              [(ngModel)]="sport" name="sport">
            <option *ngFor="let sport of sports" [value]="sport">{{sport}}</option>
          </select>
          <select formControlName="visual" id="visual" 
              [(ngModel)]="visual" name="visual">
            <option *ngFor="let visual of visuals" [value]="visual">{{visual}}</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit Sport</button>
        </div>
      </form>
    </div>
  </div>
